
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>

    <div>

        <p>
            <strong>
                1. Dichiarare una variabile valorizzandola con il nostro nome.
                Dichiarare un'altra variabile valorizzandola con il nostro cognome.
                Stampare il nostro nome e cognome all'interno di un tag h2.
            </strong>
        </p>

        <!-- Svolgimento dell'esercizio -->
        @{
            string nome = "Angelica";
            string cognome = "Armenise";
        }

        <h2>@nome</h2>
        <h2>@cognome</h2>

    </div>

    <div>
        <p>
            <strong>
                2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
                Stampare dentro uno span il risultato.
            </strong>
        </p>
        @{
            var SommaTotale = Somma(1, n);
        }

        <span>@SommaTotale</span>
    </div>

  /*<div>
        <p>
            <strong>
                3. Contare quante volte la lettera a
                è presente nalla frase "nel mezzo del cammin di nostra vita" e
                stampare questo valore in pagina
            </strong>
        </p>
        @{
            string
        }*/

    </div>

    <div>
        <p>
            <strong>
                4. Creare una List<int>
                    di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70
            </strong>
        </p>
        @{
            List<int> listaInteriRandom = new List<int>();

            Random random = new Random();

            for (int i = 0; i < 20; i++)
            {
                int numeroRandom = random.Next(1, 100);
                listaInteriRandom.Add(numeroRandom);
            }

            foreach (int numero in listaInteriRandom)
            {
                if (numero >= 20 && numero <= 70)
                {
                    <span>@numero</span>
                }
            }
        }


    </div>
    <div>
        <p>
            <strong>
                5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi
            </strong>
        </p>
        @{
            var dataOraAttuale = DateTime.Now;
        }

        <span>@dataOraAttuale</span>
        <span>
            @dataOraAttuale.Year-@dataOraAttuale.Month-@dataOraAttuale.Day/ @dataOraAttuale.Hour : @dataOraAttuale.Minute : @dataOraAttuale.Second
        </span>

    </div>


    <div>
        <p>
            <strong>
                6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina
                a. la data di 7 giorni fa
                b. che giorno della settimana è oggi (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
                c. che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
            </strong>
            @{
                DateTime dataDiOggi = DateTime.Now;
                DateTime dataDiSetteGiorniFa = dataDiOggi.AddDays(-7);
                DateTime dataAnnoProssimo = DateTime.Now;
              
 
                DateTime addYear = dataAnnoProssimo .AddYears(1);
            }

            <span>@dataDiSetteGiorniFa</span>
            <span>
                @dataDiOggi.Day
                @dataAnnoProssimo.Day
            </span>

        </p> 



    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>






</body>
</html>
